# Backend API URL
# ------------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=https://api.ounjeoba.zylodo.com/api

# App Configuration
# ------------------------------------------------------------------------------
NEXT_PUBLIC_APP_NAME=Ounje Oba Admin
NEXT_PUBLIC_APP_URL=http://localhost:3001

# Admin Configuration
# ------------------------------------------------------------------------------
NEXT_PUBLIC_ADMIN_EMAIL=admin@ounjeoba.com

# Feature Flags (Optional)
# ------------------------------------------------------------------------------
NEXT_PUBLIC_ENABLE_ANALYTICS=true
NEXT_PUBLIC_ENABLE_EXPORT=true

# Environment
# ------------------------------------------------------------------------------
NODE_ENV=development

