@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: light;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  @apply bg-background text-black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @apply border-grey-200;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .h1-semibold {
    @apply text-h3 sm:text-4xl lg:text-5xl font-semibold;
  }

  .h2-semibold {
    @apply text-h4 sm:text-h3 lg:text-h2 font-semibold;
  }

  .h3-semibold {
    @apply text-2xl sm:text-h4 lg:text-h3 font-semibold;
  }

  .h3-bold {
    @apply text-2xl sm:text-h4 lg:text-h3 font-bold;
  }

  .h4-semibold {
    @apply text-h6 sm:text-h5 lg:text-h4 font-semibold;
  }

  .h4-bold {
    @apply text-h6 sm:text-h5 lg:text-h4 font-bold;
  }

  .h5-medium {
    @apply text-xl sm:text-h6 lg:text-h5 font-medium;
  }

  .h5-semibold {
    @apply text-xl sm:text-h6 lg:text-h5 font-semibold;
  }

  .h5-bold {
    @apply text-xl sm:text-h6 lg:text-h5 font-bold;
  }

  .h6-medium {
    @apply text-lg sm:text-xl lg:text-h6 font-medium;
  }

  .h6-semibold {
    @apply text-lg sm:text-xl lg:text-h6 font-semibold;
  }

  .h6-bold {
    @apply text-lg sm:text-xl lg:text-h6 font-bold;
  }

  .body-1 {
    @apply text-base sm:text-lg;
  }

  .body-1-medium {
    @apply text-base sm:text-lg font-medium;
  }

  .body-2 {
    @apply text-sm sm:text-base;
  }

  .body-2-medium {
    @apply text-sm sm:text-base font-medium;
  }

  .body-3 {
    @apply text-xs sm:text-sm;
  }

  .body-3-medium {
    @apply text-xs sm:text-sm font-medium;
  }

  .caption {
    @apply text-caption sm:text-xs;
  }

  .caption-italic {
    @apply text-caption sm:text-xs italic;
  }
}
